
<% layout("layouts/boilerplate")%> 
    <!-- <h3>All Listings</h3> -->
 <!--  <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> --> 

    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
      }

      .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 1rem;
        opacity: 0.8;
      }
      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }
      .filter p {
        font-size: 0.6rem;
      }
    </style>
    <div id="filters">
     <div class="filter">
      <div><i class="fa-solid fa-bottle-droplet"></i></div>
      <p>Oli</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-jar-wheat"></i></i></div>
        <p> Chakki Atta</p>
        </div>
        <div class="filter">
         <div><i class="fa-solid fa-seedling"></i></div>
         <p>Lentils(Daal)</p>
         </div>
         <div class="filter">
          <div><i class="fa-solid fa-trash"></i></div>
          <p>Mango Pickle(Achaar)</p>
          </div>
          <div class="filter">
           <div><i class="fa-solid fa-box-archive"></i></div>
           <p>Amla Murabba</p>
           </div>
           <div class="filter">
            <div><i class="fa-solid fa-gifts"></i></div>
            <p> Dry Fruits</p>
            </div>
            <div class="filter">
             <div><i class="fa-brands fa-pagelines"></i></div>
             <p>Seeds</p>
             </div>
             <div class="filter">
              <div><i class="fa-solid fa-shop"></i></div>
              <p>Home Made Masalas</p>
              </div>
              <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Winter Special</p>
                </div>
                <div class="filter">
                  <div><i class="fa-solid fa-box-archive"></i></div>
                  <p>Whole Spices</p>
                  </div>
                  <div class="filter">
                    <div><i class="fa-solid fa-box-archive"></i></div>
                    <p>Cow Ghee</p>
                    </div>
                    <div class="filter">
                      <div><i class="fa-solid fa-shop"></i></div>
                      <p>Home Ground Spices</p>
                      </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" style="width: 22rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style = "height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%=  listing.title %> </b><br>
                <%=  listing.description %> <br>
               <!-- <b> <%= listing.price ? '₹' + listing.price.toLocaleString("en-IN") : '₹' %> -->
                <b> ₹<%= (typeof listing.price === 'number' ? listing.price.toLocaleString("en-IN") : parseFloat(listing.price).toLocaleString("en-IN")) || '0' %> </b>
               </b>
              </p>
            </div>
          </div>
        </a>
          <% } %>
    </div>
    <!-- <ul>
        <% for (let listing of allListings) { %>
         <li><a href="/listings/<%= listing._id %>"> <%=  listing.title %> </a></li>
         <% } %>
     </ul> -->

